@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif; /* Modern bir font seçimi */
  background-color: #f8f9fa; /* Açık bir arka plan */
}
